.success {
  color: black;
  background: green;
  font-size: 17px;
  border-style: hidden;
  padding: 8px;
  margin-bottom: 20px;
}

.error {
  color: black;
  background: red;
  font-size: 17px;
  border-style: hidden;
  padding: 8px;
  margin-bottom: 20px;
}